<div class="Container  text-center">

<h1>This page is about the website and it's creator</h1>

I am Aryan Grover and I made this website beacuse I think all of the websites I use basically have the same password and I think if a Hacker hacks in my account he can log into all my webistes.
So this password generator is used to create unique passwords for you. And it has basic options like Uppercase and lowercase, Special characters and numbers. And the best part the python library randomizes the password every time uniquely.

<br>
<br>

<a href={%  url 'home'%}>Home</a>

</div>
